.searchContainer{
  display: flex;
  flex-direction: column;

}
.searchContainer__logo {
  color: #D25555;
  text-align: center;
}
.searchContainer__inputZone {
  display: flex;
  text-decoration: none;
  margin-top: 50px;
  width: 100%;
}


@media screen and (min-width: 700px) {

  .searchContainer__logo {
    font-size: 50px;
  }

  .searchContainer__inputZone{
    flex-direction: row;
    justify-content: center;
  }
  .searchContainer__inputZone__input {
    margin-right: 10px;
    font-size: 35px;
  }
  .searchContainer__inputZone__button {
    font-size: 35px;
  }
}



@media screen and (max-width: 700px) {

  .searchContainer__logo{
    font-size: 25px;
  }
  .searchContainer__inputZone{
    flex-direction: column;
    align-items: center;
  }
  .searchContainer__inputZone__input {
    width: 320px;
    margin-bottom: 10px;
    margin-right: 0;
    font-size: 30px;
  }
  .searchContainer__inputZone__button {
    font-size: 30px;
  }

}



@media screen and (max-width: 280px) {
  .searchContainer__logo{
    font-size: 19px;
  }
  .searchContainer__inputZone__input {
    width: 268px;
    font-size: 23px;
  }
  .searchContainer__inputZone__button {
    font-size: 25px;
  }

}