
.paginBlock{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
    justify-content: flex-start;

}
.paginBlock__span:hover{
    color: #d25555;
    font-weight: bold;
}
.paginBlock__span{
    cursor: pointer;
    padding-right: 15px;
}

.paginBlock__span__checked{
    color: #d25555;
    font-weight: bold;
    font-size: 31px;
}
/*//-----------------------------------------------------------------------*/


.compPaginBlock{
    display: flex;

    font-weight: bold;
}
.compPaginBlock__toggleBlock{
    display: flex;
    flex-direction: row;

}


.compPaginBlock__changePageBlock{
    display: flex;
}
.compPaginBlock__changePageBlock__span{
    padding-right: 10px;
}
.compPaginBlock__changePageBlock__input{
    width: 50px;
    font-size: 25px;
}
.compPaginBlock__changePageBlock__button{
    font-size: 25px;

}

@media screen and (min-width: 700px) {
    .compPaginBlock{
        margin: 50px 25px;
        height: 35px;
        flex-direction: row;
        font-size: 30px;
        justify-content: space-around;
        width: 100%;

    }


}

@media screen and (max-width: 700px) {
    .compPaginBlock{
        flex-direction: column;
        font-size: 20px;
        align-items: center;
    }
    .compPaginBlock__toggleBlock{
        margin-top: 15px;
    }
}




.compPaginBlock__toggleBlock__button{
    height: 100%;
    font-size: 25px;
}

.compPaginBlock__toggleBlock__currentPage{
    text-align: center;
    width: 80px;
    font-size: 40px;
    color: #d25555;
}

.compPaginBlock__totalPage{
    padding-right: 65px;
}


